<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Polina Shagoiko</title>
</head>

<body>
    <div class="order">
        <div class="orderWithImg">
            <div class="orderPizza">
                <h3>Область просмотра заказа</h3>
                <ul id="orderViewingArea"></ul>
                <div class="priceAndBtn">
                    <div id="pricePizza"></div>
                    <button id="btnToOrder">ОФОРМИТЬ ЗАКАЗ</button>
                </div>
            </div>
            <div class="img">
                <img src="image/0.png" id="imgPizza" alt="image_pizza" />
            </div>
        </div>
        <div class="pizzaIngredientsChoose">
            <div>
                <h3>Основа</h3>
                <ul id="osnova">
                    <li value="bezdrozh">Бездрожжевая</li>
                    <li value="drozhevoe">Дрожжевая</li>
                    <li value="sloenoe">Слоеное тесто</li>
                    <li value="tonkoe">Тонкое тесто</li>
                </ul>
            </div>
            <div>
                <h3>Ингредиент 1</h3>
                <ul id="ingredientsFirst">
                    <li value="chicken">Курица</li>
                    <li value="bacon">Бекон</li>
                    <li value="salmon">Семга</li>
                    <li value="shrimps">Креветки</li>
                </ul>
            </div>
            <div>
                <h3>Ингредиент 2</h3>
                <ul id="ingredientsSecond">
                    <li value="paper">Перец</li>
                    <li value="cheese">Сыр</li>
                    <li value="mushrooms">Шампиньоны</li>
                    <li value="olives">Маслины</li>
                </ul>
            </div>
            <div>
                <h3>Соус</h3>
                <ul id="sauce">
                    <li value="tomatoes">Томатный</li>
                    <li value="pesto">Песто</li>
                    <li value="beshamel">Бешамель</li>
                    <li value="garlicky">Чесночный</li>
                </ul>
            </div>
        </div>
        <script src="script.js"></script>
</body>

</html>